<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 20px;
        }

        .respect {
            margin-bottom: 30px;
        }

        .task {
            margin: 20px 0px;
        }

        .reset-password-button
        a{
            display: inline-block;
            text-decoration: none;
            background-color: #508aa8;
            color: #fff;
            padding: 10px 20px;
            border-radius: 4px;
        }

        .reset-password-button{
            margin: 10px 0px;
        }

        .thank-you {
            margin-top: 30px;
            display: block;
        }
    </style>
</head>

<body>
    <h2 class="respect">Hii <%= user.firstName %>,</h2>
    <p>Please confirm your OTP</p>
    <p class="task">Here is your OTP code: <b>
            <%= otp %>
        </b></p>
    <div class="reset-password-button">
        <a href="<%= `${clientUrl}/verify-otp/${user._id}` %>">Reset Password</a>
    </div>
    <p>The OTP code will be expired in 5 minutes.</p>
    <span class="thank-you">Thank you.</span>
</body>

</html>